body {
  font-family: $font-family-primary;
  font-size: $font-size-sm;
  margin: 0;
  padding: 0;
  line-height: $font-size-base*6;
  color: $text-color-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0 0 $spacing-base 0;
  font-size: $font-size-md;
  color: $text-color-1;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  width: 100%;
}
