.features {
    @include responsive-section-padding;

    &__container {
      @include container;
    }

    &__grids {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: $border-color;
        grid-gap: 1px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @media (max-width: 540px) {
            grid-template-columns: 1fr;
        }
    }

    &__grid-item {
        padding: 20px;
        background-color: $white;
        box-sizing: border-box;
    }

    &__grid-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        max-width: 250px;
        margin: 0 auto;
        gap: 20px;
    }

    &__features__icon {
        width: 48px;
    }

    &__grid-item-title {
        width: 100%;
        font-size: $font-size-lg;
        line-height: $font-size-lg + 6;
        color: $text-color-2;
    }

    &__grid-item-desc {
        width: 100%;
    }
}
