.header {
  background: linear-gradient(to bottom, $grey 60%, $white 60%);

  &__container {
    @include container;
  }

  &__top {
    text-align: center;
    margin: 0 auto;
    max-width: 630px;
    padding: $gap 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;
  }

  &__logo {
    h1 {
      font-size: $font-size-base * 12;
      line-height: $font-size-base * 13;
      color: $text-color-2;
      position: relative;
      font-family: $font-family-secondary;
      font-weight: 400;
    }
  }

  &__logo--pro {
    width: 42px;
    display: inline-block;
    position: absolute;
    top: -22px;
    bottom: 0px;
  }

  &__cta{
    display: flex;
    gap: $gap;

    @media ( max-width: 768px ) {
      gap: 24px;
      flex-wrap: wrap;
      justify-content: center;
    }

  }

  &__video {
    position: relative;
  }

  &__img {
      box-shadow: 0px 10px 50px 0px #00000026;
      border-radius: 6px;
  }

  &__play {
    position: absolute;
    width: 124px;
    height: 124px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media ( max-width: 768px ) {
      width: 60px;
      height: 60px;
    }

    @media ( max-width: 540px ) {
      width: 60px;
      height: 60px;
    }

  }

}
