.hero {
    background: $grey;
    @include responsive-section-padding;

    &__container {
        @include container;
    }

    &__inner {
        display: flex;
        gap: 50px;

        justify-content: center;

        @include responsive-grid;
    }

    &__image {
        width: 100%;

        @media (min-width: 768px) {
            flex: 1;
        }
    }

    &__content {
        @media (min-width: 768px) {
            flex: 1;
        }
    }
    
    &_content-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__heading {
        color: $text-color-2;
        font-size: $font-size-x-lg;
        line-height: 38.4px;
        font-weight: 700;
    }

    &__description {
        font-size: $font-size-medium;
        line-height: 28px;
        color: $text-color-1;
        font-weight: 400;
    }
}
