@mixin container {
  width: calc(100% - 30px);
  max-width: 960px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }
}


@mixin btn {
  min-width: 250px;
  padding: 19px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;

  &.cta--light {
    background-color: $white;
    color: $text-color-1;
    border: 1px solid $border-color;
  }

  &.cta--dark {
    background-color: $primary-color;
    color: $white;
    border: 1px solid $primary-color;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @media (max-width: 768px) {
    min-width: 250px;
  }
  
}


@mixin responsive-section-padding {
  padding: $font-size-base * 25 0px;

  @media (max-width: 768px) {
    padding: $font-size-base * 20 0px;
  }

  @media (max-width: 540px) {
    padding: $font-size-base * 15 0px;
  }

}

@mixin responsive-section-padding-top {
  padding-top: $font-size-base * 25;

  @media (max-width: 768px) {
    padding-top: $font-size-base * 20;
  }

  @media (max-width: 540px) {
    padding-top: $font-size-base * 15;
  }

}

@mixin responsive-grid {

  @media (max-width: 768px) {
      gap: $spacing-base * 8;
      flex-wrap: wrap;
  }

  @media (max-width: 540px) {
      gap: $spacing-base * 6;
  }
  
}

@mixin grid-gap {
  gap: $spacing-base * 25;

  @media (max-width: 768px) {
    gap: $spacing-base * 20;
  }

  @media (max-width: 540px) {
    gap: $spacing-base * 15;
  }

}