.screenshot {
    @include responsive-section-padding-top;
    
    &__container {
        @include container;
    }

    &__image {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
        
        > img {
            box-shadow: 0px 5px 25px 0px #00000026;
            width: 100%;
        }
    }
}
