.testimonials {
    background: linear-gradient(180deg, #F8F8F8 0%, $white 100%);
    padding: $spacing-base * 25 0px;

    &__container {
        @include container;
    }

    &__cards {
        display: flex;
        gap: 50px;
        flex-wrap: nowrap;
    }

    &__card-reviews img {
        width: 16px;
    }
    
    &__card-reviews {
        display: flex;
        gap: 2px;
    }

    &__card-inner {
        background-color: $white;
        padding: 30px;
        border-radius: 6px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    &__card {
        flex: 1;
    }

    &__card-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__card-author {
        color: $text-color-3;
        font-size: $font-size-small;
        line-height: 16.8px;
    }

    &__inner {
        display: flex;
        gap: 100px;
        flex-wrap: wrap;
    }

    &__cta {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 50px;
        text-align: center;
    }
}
