// Colors
$primary-color: #e27730;
$border-color: #dddddd;
$text-color-1: #777777;
$text-color-2: #444444;
$text-color-3: #AAAAAA;
$link-color: #036aab;
$grey: #F8F8F8;
$white: #FFFFFF;


// Font Sizes
$font-size-base: 4px;
$font-size-small: 14px;
$font-size-medium: 18px;

// Font Base size group
$font-size-sm: $font-size-base * 4;
$font-size-md: $font-size-base * 5;
$font-size-lg: $font-size-base * 6;
$font-size-x-lg: $font-size-base * 8;

// Font Families
$font-family-primary: 'Lato', sans-serif;
$font-family-secondary: 'Arvo', serif;

// Font Families
$spacing-base: 4px;
$gap: 40px;
$gap-cta: 50px;
